h1 {
    font-size: 80px; 
    color: #8E806A;
    text-align: center;
    font-family: monospace;
}

h2 {
    font-size: 60px; 
    color: #C3B091;
    text-align: center;
    font-family: monospace;
}


h3 {
    font-size: 40px; 
    color: #E4CDA7;
    text-align: center;
    font-family: monospace;

}

li {
    font-size: 25px;
    
}

p {
    font-size: 25px;
}

  


  div{
    align: center;
  }


  img {
width: 400;
height: 400;

  }




#link{
  text-decoration: none;
  color:rgb(191, 41, 41);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;

}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  height: 50px;
  padding: 0 20px;
  background-color: #3D5656;
  color: #CFFDE1;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 300ms all;
}

nav ul li a:hover {
  background-color: #344D67;
}